{% extends "base.html" %}

{% block content %}
<section class="hero">
  <div class="container-">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="hero-header">MULTI USER BLOG</h1>
        <div class="row">
          <div class="col-12 text-center">
            <p class="lead">A simple blog that multiple users can contribute.</p>
            <p class="sub-lead">Want to contribute?</p>
            <a class="hero-cta" href="/signup">Sign Up</a>
            <p class="mt-2"><small>or <a href="/login">login</a></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blogs">
  <div class="container">
    {% for blog in blogs %}
    <article class="single-article">
      <div class="row">
        <div class="col-12">
          <div class="row blog-header">
            <div class="col-8">
              <h2 class="blog-title">{{blog.title}}</h2>
            </div>
            <div class="col-4 text-right">
              <p class="blog-date">{{blog.created}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="blog-content">{{blog.content | safe}}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

{% endblock %}
