{% extends "base.html" %}

{% block content %}
<section class="hero">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="hero-header">MULTI USER BLOG</h1>
        <p class="lead">A simple blog that multiple users can contribute.</p>
        <p class="sub-lead">Want to contribute?</p>
        <a class="hero-cta" href="/signup">Sign Up</a>
        <p class="mt-2"><small>or <a href="/login">login</a></small></p>
      </div>
    </div>
  </div>
</section>
<section class="blogs">
  <div class="container">
    {% for blog in blogs %}
    <article class="single-article">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="row blog-header">
            <div class="col-12">
              <h2 class="blog-title"><a href="/{{blog.key().id()}}">{{blog.title}}</a></h2>
              <p class="blog-info">By {{blog.username}} / On {{blog.created.date()}}  // Likes: {{blog.likes}} //  Dislikes: {{blog.dislikes}}</p>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12">
              <div class="blog-content">{{blog.content[:400] + "..." | safe}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="btn btn-custom" href="/{{blog.key().id()}}">READ MORE</a>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="row justify-content-center">
      <div class="col-2">
        <hr class="post-divider">
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
