{% extends "base.html" %}

{% block content %}
<section class="blogs">
  <div class="container">
    <article class="single-article">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <div class="row blog-header">
            <div class="col-12">
              <h2 class="blog-title">{{blog.title}}</h2>
              <p class="blog-info">Written by {{blog.username}} on {{blog.created.date()}}  // Likes: {{blog.likes}} //  Dislikes: {{blog.dislikes}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="blog-content">{{blog.render() | safe}}</div>
            </div>
          </div>
          <div class="row blog-content-footer">
            <div class="col-12">
              {% if auth_user and auth_user == blog.username %}
              <h4 class="footer-title">This is your own post.</h4>
              <a class="btn btn-custom" href="/edit-post?bid={{blog.key().id()}}">EDIT THIS POST</a>
              {% elif auth_user and auth_user != blog.username %}
              <h4 class="footer-title">You're not the owner, but you're authenticated</h4>
                {% for i in interactions %}
                  {% if i.sentiment %}
                  <p>You already liked this post</p>
                  {% else %}
                  <p>You already disliked this post</p>
                  {% endif %}
                {% endfor %}
                {% if not interactions %}
                <a class="btn btn-custom" href="/like-post?bid={{blog.key().id()}}">LIKE THIS!</a>
                <a class="btn btn-custom" href="/dislike-post?bid={{blog.key().id()}}">HATE THIS!</a>
                {% endif %}
              {% else %}
              <h4 class="footer-title">You're not the owner, and you're just a guest to the site.</h4>
              {% endif %}
            </div>
          </div>
          {% for i in interactions %}
          <p>{{i.username}} | {{i.blog_id}}</p>
          {% endfor %}
        </div>
      </div>
    </article>
  </div>
</section>
{% endblock %}
