{% extends "base.html" %}

{% block content %}

<section class="blogs">
  <h1 class="text-center pb-4">Welcome {{auth_user}}!</h1>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <p>Want to make a blog post?</p>
        <a class="btn btn-custom" href="/blogsubmit">NEW POST</a>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Created Date</th>
          <th>Last Updated</th>
          <th>Post Title</th>
          <th>Likes</th>
          <th>Dislikes</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for blog in blogs %}
        <tr>
          <th scope="row">{{blog.created.date()}}</th>
          <td>{{blog.updated.date()}}</td>
          <td><a href="/{{blog.key().id()}}">{{blog.title}}</a></td>
          <td>{{blog.likes}}</td>
          <td>{{blog.dislikes}}</td>
          <td><a class="btn btn-custom" href="/edit-post?bid={{blog.key().id()}}">EDIT</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
